*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    padding: 10vw;
    margin: 0;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}
header{
    margin:0;
    background: #FFFFFF;
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    height: 13vw;
    z-index: 999%;
    top: 0%;
    left: 0;
} 

.logo{
    position:relative;
    padding-left: 10vw;
    margin: 0;
    width: 30vw;
    height:8vw;
    top: 0.8em;

    right:0;
    
}

.iconify{
    position: relative;
    top: 0.2em;
    padding: 0;
    margin:0;
    right: -45vw;
}

nav{
    position: relative;
    text-align: left;
    top:100%;
    left: 0;
    background-color:azure;
    display: none;
    width: 100%;
    transform:scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    
}

nav ul{
    margin: 0;
    padding:0;
    list-style: none;
    
}

nav li{
    margin-bottom: 1em;
    
    
    
}

nav a{
    font-size: 1.5em;
    text-transform:uppercase;
    text-decoration: none;
    opacity:0;
    
}

nav a:hover{
    color: black;
}



h1{
    font-size: 6vw;
    margin-bottom: 8px;
}

.main{
    background: radial-gradient(50% 50% at 50% 50%, rgba(132, 113, 201, 0.35) 0%, rgba(132, 113, 201, 0) 100%);
    width: 95%;
    margin-top: 3vh;;
    padding: 0;
    

}

.main img{
   width: 100%; 
    margin: 0;
    padding: 0;
}

.name{
    font-size:8vw;
    padding: 0;
    margin:0;
    width: 100%
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;



color: #004EFF;
}

.description{
    font-size: 9vw;
    margin-top: 2vh;
    padding: 0;
    margin-bottom: 0;
}

.description2{
    font-size:4vw;
    font-family: Vollkorn;
font-style: normal;
font-weight: normal;
padding: 0;
    margin:0;
}

.buttons{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -3vh
    
}

button{
width: 120px;
margin: 0 0 0 8%;
display: flex:
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
background: #34A853;
border: 2px solid #FFFFFF;
box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 40px;
}

.what-I-do{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0;
    margin:0;
    
}

 .skill-card{
     font: Serif;
     font-size: 3vw;
     margin-top: 3vh;
     padding: 3vw;
     width:40vw;
     text-align: center;
     background-color: darkgrey;
     border-radius: 40px;
     height: 13rem;
     
}