:root {
  --color-secondary: #00c0ff;
  --color-primary: #ff014f;
  --bg-gradient: linear-gradient(45deg, var(--color-secondary) 0%, var(--color-primary) 70%);
}

.sub_title {
  text-transform: uppercase;
  background: var(--bg-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  display: inline-block;
  font-size: 20px;
}

#myPic::after {
  position: absolute;
  left: 50%;
  bottom: -120px;
  transform: translateX(-50%);
  content:" ";
  background: url('./assets/images/redBg.png');
  border-radius: 50%;
  background-size: contain;
  z-index: -1;
}

#review::after {
  content: " - Remember this";
  background-color: yellow;
  color: red;
  font-weight: bold;
}